@import url(./root.css);

body {
    width: 100%;
    height: 100vh;
}

.card-game-in-evidency {
    margin-top: 3rem;
    margin-bottom: 3rem;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 40px;
}

.card-game-in-evidency .h2-title {
    display: flex;
    width: 100%;
    align-items: center;
    justify-content: center;
}

.card-game-in-evidency .h2-title h2{
    font-size: 40px;
}

.card-game-in-evidency .card-box {
    display: flex;
    gap: 25px;
    flex-wrap: wrap;
    width: 1100px;
    justify-content: center;
    align-items: center;
}

.card-game-in-evidency .card-box .card {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 20rem;
    height: 20rem;
    position: relative;;
}


.card-game-in-evidency .last-games {
    background-color: white;
    width: 9rem;
    height: 3.5rem;
    border-radius: 5px;
    font-size: 15px;
}

.card-game-in-evidency .card-box .card #Star-wars-i {
    background-image: url('https://media.contentapi.ea.com/content/dam/gin/images/2022/06/star-wars-jedi-survivor-keyart.jpg.adapt.crop1x1.767p.jpg');
    background-position: center center;
    background-size: cover;
    width: 100%;
    height: 100%;
    z-index: -1;
}


.card-game-in-evidency .card-box .card #PGA-Tour-i {
    background-image: url('https://media.contentapi.ea.com/content/dam/gin/images/2021/04/ea-sports-pgatour-keyart.jpg.adapt.crop1x1.767p.jpg');
    background-position: center center;
    background-size: cover;
    width: 100%;
    height: 100%;
    z-index: -1;
}


.card-game-in-evidency .card-box .card #NFS-Unbound-i {
    background-image: url('https://media.contentapi.ea.com/content/dam/gin/images/2022/10/nfs-unbound-1x1.png.adapt.crop1x1.767p.png');
    background-position: center center;
    background-size: cover;
    width: 100%;
    height: 100%;
    z-index: -1;
}


.card-game-in-evidency .card-box .card #TS4-i {
    background-image: url('https://media.contentapi.ea.com/content/dam/gin/images/2017/01/the-sims-4-keyart.jpg.adapt.crop1x1.767p.jpg');
    background-position: center center;
    background-size: cover;
    width: 100%;
    height: 100%;
    z-index: -1;
}


.card-game-in-evidency .card-box .card #Apex-Legends-i {
    background-image: url('https://media.contentapi.ea.com/content/dam/gin/images/2019/01/apex-legends-keyart.jpg.adapt.crop1x1.767p.jpg');
    background-position: center center;
    background-size: cover;
    width: 100%;
    height: 100%;
    z-index: -1;
}


.card-game-in-evidency .card-box .card #Fifa23-i {
    background-image: url('https://media.contentapi.ea.com/content/dam/gin/images/2022/07/eas-fifa22-gen5-ue-keyart-horz-f23logo.jpg.adapt.crop1x1.767p.jpg');
    background-position: center center;
    background-size: cover;
    width: 100%;
    height: 100%;
    z-index: -1;
}

.card-game-in-evidency .card-box .card .logo-box {
    display: flex;
    width: max-content;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100%;
    position: absolute;
    z-index: 1;
    flex-direction: column;
    background: rgba(0, 0, 0, 0.400);
}

.card-game-in-evidency .card-box .card .logo-box img {
    width: 35%;
}

.card-game-in-evidency .card-box .card .logo-box #PGA-Tour-l, #TS4-l, #NFS-Unbound-l {
    width: 50%;
}

.card-game-in-evidency .card-box .card p {
    display: none;
    color: rgba(255, 255, 255, 0.713);
    z-index: 2;
    position: absolute;
    bottom: 40%

}



.card-game-in-evidency .card-box .card .logo-box:hover {
    background: linear-gradient(50deg, rgba(52, 52, 224, 0.70), rgba(199, 71, 71, 0.70));
}

.card-game-in-evidency .card-box .card:hover p {
    display: block;
}

.card-game-in-evidency .card-box .card .logo-box:hover img {
    transform: translate(0, -70%);
}



@media (max-width: 1024px) {
    .card-game-in-evidency .card-box {
        width: 100%;
    }
}

@media (max-width: 821px) {
    .card-game-in-evidency .card-box {
        width: 100%;
    }
}