@import url(./root.css);

.black-navbar{
  width: 100%;
  height: 40px;
  background-color: black;
  transition: 200ms ease-in-out;
  z-index: 300; 
 
}

.black-navbar .black-navbar-container{
  width: 100%;
  height: 40px;
  display: flex;
  align-items: center;
  justify-content: flex-end;
  gap: 1rem;
  transition: 200ms ease-in-out;
  z-index: 300; 
}

.black-navbar .logos-container{
  height: 18px;
  width: 40px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.black-navbar .logos-container a{
  height: 100%;
}

.black-navbar .logos-container svg{
  height: 95%;
  fill: rgb(197, 197, 197);
}

.black-navbar .logos-container:nth-child(3){
  height: 30px;
  fill: rgb(39, 38, 38);
  margin-right: 30px;
}

.black-navbar .logos-container:nth-child(3) svg{
  height: 30px;
  fill: rgb(128, 123, 123);
}

.black-navbar .logos-container:hover svg{
  fill: white;
}

.black-navbar .logos-container:nth-child(3):hover svg{
  fill: rgb(168, 168, 168);
}

.white-navbar{
  height: 56px;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  position: fixed;
  background-color: white;
  width: 100%;
  transition: 200ms ease-in-out; 
  z-index: 200;
}

.white-navbar .three-point-container{
  height: 20px;
  width: 50px ;
  transition: 200ms ease-in-out;
}

.white-navbar .three-point-container svg{
  transform: rotate(-90deg);
}

.hamburger-menu{
  height: 20px;
  width: 20px ;
  margin-left: 10px;
  display: none;
}

.white-navbar .three-point-container:hover{
  height: 25px;
  width: 50px ;
  fill: var(--cards-titles-color);
}

.white-navbar .white-navbar-content{
  display: flex;
  justify-content: flex-start;
  align-items: center;
  height: 100%;
}

.white-navbar .main-logo-container{
  margin: 0 20px;
}

.white-navbar .navbar-explore{
  display: flex;
  justify-content: flex-start;
  align-items: center;
  margin: 0 25px;
  height: 100%;
}

.white-navbar .navbar-explore .explore-content{
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 0 10px;
  position: relative;
  height: 100%;
}

.white-navbar .navbar-explore .explore-content .arrow{
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 8px;
  width: 10px;
  margin: 0;
  padding-left: 5px;
  gap: 1.97px;
}

.white-navbar .navbar-explore .explore-content .arrow span:first-child{
  transform: rotate(-40deg);
  transition: 200ms ease-in-out;
}

.white-navbar .navbar-explore .explore-content .arrow span:last-child{
  transform: rotate(40deg);
  transition: 200ms ease-in-out;
}

.white-navbar .navbar-explore .explore-content:hover .pop-up-button,
.white-navbar .navbar-explore .explore-content:hover .arrow{
  color: var(--cards-titles-color);
}

.white-navbar .navbar-explore .explore-content:hover .arrow span:first-child{
  transform: rotate(-140deg);
}

.white-navbar .navbar-explore .explore-content:hover .arrow span:last-child{
  transform: rotate(140deg);
}

/* Pop-Up Menù*/
.navbar-explore .explore-content .pop-up-menù-info{
  position: absolute;
  display: none;
  border: 1px solid; 
  background-color: rgba(243, 242, 242, 0.98);
  padding: 35px 25px;
  border-radius: 5px;
  gap: 2rem;
  width: fit-content;
  transition: 200ms ease-in-out; 
  overflow: hidden;

}

.navbar-explore .explore-content .giochi-menù{
  bottom: -340px;
  left: -45px;
}

.navbar-explore .explore-content .altre-esperienze-menu{
  bottom: -244px;
}

.navbar-explore .explore-content .informazioni-menu{
  bottom: -297px;
}

.navbar-explore .explore-content .impegni-menu{
  bottom: -260px;
}

.navbar-explore .explore-content .risorse-menu{
  bottom: -260px;
}

.navbar-explore .explore-content .pop-up-menù-info .esplora{
  display: flex;
  flex-direction: column;
  gap: 1rem;
}

.navbar-explore .explore-content .pop-up-menù-info .esplora-giochi{
  width: 150px;
}

.navbar-explore .explore-content .pop-up-menù-info .esplora-altre-esperienze{
  width: 150px;
}

.navbar-explore .explore-content .pop-up-menù-info .esplora-informazioni{
  width: 150px;
}

.navbar-explore .explore-content .pop-up-menù-info .esplora-impegni{
  width: 150px;
}

.navbar-explore .explore-content .pop-up-menù-info .esplora-risorse{
  width: 100px;
}


.navbar-explore .explore-content .pop-up-menù-info .esplora #span-title{
  font-size: 17px;
  border-bottom: 1px solid rgb(167, 165, 165) ;
  font-weight: bold;
  color: rgb(27, 27, 27);
  width: fit-content;
  padding-bottom: 5px;
}

.navbar-explore .explore-content .pop-up-menù-info .esplora a{
  font-size: 15px;
  color: rgb(97, 97, 97);
}

.navbar-explore .explore-content .pop-up-menù-info .esplora a:hover{
  color: var(--cards-titles-color);
}

.navbar-explore .giochi:hover .giochi-menù{
  display: flex;
}

.navbar-explore .altre-esperienze:hover .altre-esperienze-menu{
  display: block;
}

.navbar-explore .informazioni:hover .informazioni-menu{
  display: block;
}

.navbar-explore .impegni:hover .impegni-menu{
  display: block;
}


.navbar-explore .risorse:hover .risorse-menu{
  display: block
}


.trasparent-savior{
  position: absolute;
  height: 30px;
  width: 50px;
  bottom: -30px;
  width: 150px;
}

.black-navbar .navbar-login{
  height: calc(100% - 40px);
  display: none;
  justify-content: center;
  align-items: center;
  position: relative;
}

.black-navbar .navbar-login .login-container{
  width: 100%;
  height: 100px;
  display: flex;
  justify-content: space-around;
  align-items: center;
}

.black-navbar .navbar-login .login-container a{
  width: 264px;
  height: 65px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-decoration: none;
  color: rgb(211, 211, 211);
  font-size: 15px;
  gap: 0.5rem;
  transition: 200ms ease-in-out;
}

.black-navbar .navbar-login .login-container a img{
  height: 40px;
}

.black-navbar .navbar-login .login-container a:hover{
  margin-top: -20px;
}

.nav-close-button{
  position: absolute;
  width: 12px;
  right: 20px;
  top: 30px;
}

.nav-close-button svg{ 
  fill: rgb(219, 219, 219);
}

.navbar-login .close-div{
  position: absolute;
  top: 360px;
  width: 100%;
  height: 100vh;
  background-color: transparent;
  z-index: -20;
}



@media (max-width: 821px){
  .white-navbar .navbar-explore{
    display: none;
  }

  .white-navbar .three-point-container{
    display: none;
  }

  .hamburger-menu{
    display: block;
  }

  .main-logo-container img{
    width: 130px;
  }

}