@import url(./root.css);

.black-navbar{
  height: 40px;
  display: flex;
  align-items: center;
  justify-content: flex-end;
  background-color: black;
  gap: 1rem;
  padding: 0 18px;
}

.black-navbar .logos-container{
  height: 18px;
  width: 40px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.black-navbar .logos-container a{
  height: 100%;
}

.black-navbar .logos-container svg{
  height: 95%;
  fill: rgb(197, 197, 197);
}

.black-navbar .logos-container:nth-child(3){
  height: 30px;
  fill: rgb(39, 38, 38);
}

.black-navbar .logos-container:nth-child(3) svg{
  height: 30px;
  fill: rgb(128, 123, 123);
}

.black-navbar .logos-container:hover svg{
  fill: white;
}

.black-navbar .logos-container:nth-child(3):hover svg{
  fill: rgb(168, 168, 168);
}

.white-navbar{
  height: 56px;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  position: fixed;
  background-color: white;
  width: 100%;

}

.white-navbar .three-point-container{
  height: 20px;
  width: 50px ;
  transition: 200ms ease-in-out;
}

.white-navbar .three-point-container svg{
  transform: rotate(-90deg);
}

.white-navbar .three-point-container:hover{
  height: 25px;
  width: 50px ;
  fill: var(--cards-titles-color);
}

.white-navbar .white-navbar-content{
  display: flex;
  justify-content: flex-start;
  align-items: center;
  height: 100%;
}

.white-navbar .main-logo-container{
  margin: 0 20px;
}

.white-navbar .navbar-explore{
  display: flex;
  justify-content: flex-start;
  align-items: center;
  margin: 0 25px;
  height: 100%;
}

.white-navbar .navbar-explore .explore-content{
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 0 10px;
  position: relative;
  height: 100%;
}

.white-navbar .navbar-explore .explore-content .arrow{
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 8px;
  width: 10px;
  margin: 0;
  padding-left: 5px;
  gap: 1.97px;
}

.white-navbar .navbar-explore .explore-content .arrow span:first-child{
  transform: rotate(-40deg);
  transition: 200ms ease-in-out;
}

.white-navbar .navbar-explore .explore-content .arrow span:last-child{
  transform: rotate(40deg);
  transition: 200ms ease-in-out;
}

.white-navbar .navbar-explore .explore-content:hover .pop-up-button,
.white-navbar .navbar-explore .explore-content:hover .arrow{
  color: var(--cards-titles-color);
}

.white-navbar .navbar-explore .explore-content:hover .arrow span:first-child{
  transform: rotate(-140deg);
}

.white-navbar .navbar-explore .explore-content:hover .arrow span:last-child{
  transform: rotate(140deg);
}

/* Pop-Up Menù*/
.navbar-explore .explore-content .pop-up-menù-info{
  position: absolute;
  display: none;
  border: 1px solid;
  left: -45px;
  background-color: rgba(243, 242, 242, 0.9);
  padding: 35px 25px;
  border-radius: 5px;
  gap: 2rem;
  width: fit-content;
  transition: 200ms ease-in-out; 
  overflow: hidden;

}

.navbar-explore .explore-content .giochi-menù{
  bottom: -360px;

}

.navbar-explore .explore-content .altre-esperienze-menu{
  bottom: -254px;
}

.navbar-explore .explore-content .informazioni-menu{
  bottom: -325px;
}

.navbar-explore .explore-content .impegni-menu{
  bottom: -290px;
}

.navbar-explore .explore-content .risorse-menu{
  bottom: -290px;
}

.navbar-explore .explore-content .pop-up-menù-info .esplora{
  display: flex;
  flex-direction: column;
  gap: 1rem;
}

.navbar-explore .explore-content .pop-up-menù-info .esplora-giochi{
  width: 150px;
}

.navbar-explore .explore-content .pop-up-menù-info .esplora-altre-esperienze{
  width: 200px;
}

.navbar-explore .explore-content .pop-up-menù-info .esplora-informazioni{
  width: 150px;
}

.navbar-explore .explore-content .pop-up-menù-info .esplora-impegni{
  width: 150px;
}

.navbar-explore .explore-content .pop-up-menù-info .esplora-risorse{
  width: 100px;
}


.navbar-explore .explore-content .pop-up-menù-info .esplora #span-title{
  font-size: 17px;
  border-bottom: 1px solid rgb(167, 165, 165) ;
  font-weight: bold;
  color: rgb(27, 27, 27);
  width: fit-content;
  padding-bottom: 5px;
}

.navbar-explore .explore-content .pop-up-menù-info .esplora a{
  font-size: 15px;
  color: rgb(97, 97, 97);
}

.navbar-explore .explore-content .pop-up-menù-info .esplora a:hover{
  color: var(--cards-titles-color);
}

.navbar-explore .giochi:hover .giochi-menù{
  display: flex;
}


