header{
    display: flex;
    height: 55vh;
    margin-top: 6rem;
}

.right-header{
    width: 50%;
    background-image: url(/assets/right-header-image.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    text-align: center;
    padding: 1%;
}

.right-header-image{
    width: 100%;
    height: 55vh;
}

.left-header{
    width: 50%;
    background-image: url(/assets/left-header-image.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    text-align: center;
    padding: 1%;
}

.header-title {
    font-size: 54px;
    color: var(--primary-color);
    width: 70%;
    margin-left: 15%;
}

.header-description{
    font-size: 24px;
    color: var(--primary-color);
    font-weight: 100;
    padding-bottom: 3%;
    width: 70%;
    margin-left: 15%;
}

.header-button{
    font-size: 18px;
    width: 160px;
    height: 59px;
    color: var(--button-color);
    border: none;
    border-radius: 4px;
}

.header-button:hover{
  transform: scale(1.05);
  font-size: 16.9px ;
}

@media (max-width: 821px){

    header{
        display: flex;
        height: 40vh;
        margin-top: 6rem;
    }
    
    .right-header{
        width: 50%;
        background-image: url(/assets/right-header-image\(width821\).jpg);
        background-repeat: no-repeat;
        background-size: 100% 35vh;
        padding-top: 10%;
    }
    
    .left-header{
        width: 50%;
        background-image: url(/assets/left-header-image\(width821\).jpg);
        background-repeat: no-repeat;
        background-size: 100% 35vh;
        padding-top: 5%;
    }
    
    .header-title {
        font-size: 38px;
        color: var(--primary-color);
        padding-bottom: 1%;
        width: 80%;
        margin-left: 10%;
    }
    
    .header-description{
        font-size: 20px;
        color: var(--primary-color);
        font-weight: 100;
        padding-bottom: 3%;
        width: 80%;
        margin-left: 10%;
    }
    
    .header-button{
        font-size: 16px;
        width: 160px;
        height: 59px;
        color: var(--button-color);
        border: none;
        border-radius: 4px;
    }
    
    .header-button:hover{
      transform: scale(1.05);
      font-size: 16.9px ;
    }

}

@media (max-width: 391px){
    header{
        display: block;
        margin-top: 6rem;
        height: 68vh;
    }
    
    .right-header{
        width: 100%;
        height: 180px;
        background-image: url(/assets/right-header-image\(width391\).jpg);
        background-repeat: no-repeat;
        background-size: cover;
        padding-top: 10%;
    }
    
    .left-header{
        width: 100%;
        height: 70vh;
        background-image: url(/assets/left-header-image\(width391\).jpg);
        background-repeat: no-repeat;
        background-size: 100% 350px;
        padding-top: 10%;
    }
    
    .header-title {
        font-size: 36px;
        color: var(--primary-color);
        padding-bottom: 1%;
    }
    
    .header-description{
        font-size: 20px;
        color: var(--primary-color);
        font-weight: 100;
        padding-bottom: 3%;
    }
    
    .header-button{
        font-size: 16px;
        width: 331.85px;
        height: 50.4px;
        color: var(--button-color);
        border: none;
        border-radius: 4px;
    }
    
    .header-button:hover{
      transform: scale(1.05);
      font-size: 16.9px ;
    }
}

footer svg{
    width: 22px;
    height: 22px;
}

.padding-logo{
    padding-right: 17px;
}

.superior-footer{
    display: flex;
    background-color: rgb(234, 234, 234);
    justify-content: center;
    height: 20vh;
    padding-top: 3%;
}

.mini-links-sup{
    text-decoration: none;
    color: var(--secondary-color);
    margin-left: 25px;
    margin-right: 25px;
    font-size: 16px;
}

.mini-links-sup:hover{
    color: red;
}

.left-sup-footer-links{
    margin-left: 80px;
    height: 55px;
}

.social-title{
    font-size: 14px;
    padding-bottom: 10px;
    text-align: right;
    width: 193px;
}

.social-logo{
    text-decoration: none;
}

.left-sup-footer-links svg:hover{
    transform: scale(1.5);

}

.mid-footer{
    display: flex;
    justify-content: center;
    margin-top: 25px;
}

.ea-footer-logo{
    margin-left: 20px;
}

.ea-png-logo{
    width: 64px;
    height: 64px;
}

.big-links-mid{
    text-decoration: none;
    color: var(--secondary-color);
    font-size: 18px;
    height: 30px;
    padding: 5px;
}

.mid-footer-big-links{
    display: flex;
    flex-wrap: wrap;
    width: 450px;
    align-content: flex-start;
    height: 90px;
    margin-top: 15px;
    margin-left: 45px;
}

.arrow svg{
    width: 10px;
    height: 10px;
}

.arrow2 svg{
    width: 10px;
    height: 10px;
}

.arrow{
    margin-left: 11px;
}

.country-button{
    padding-top: 1px;
    padding-bottom: 1px;
    padding-left: 1px;
    padding-right: 1px;
    width: 160px;
    height: 60px;
    margin-right: 40px;
    border-color: rgb(200,200,200);
    border-radius: 4px;
    background-color: var(--primary-color);
}

.country-title{
    color: var(--button-color);
    text-align: left;
    margin-left: 11px;
}

.country{
    margin-right: 80px;
}

.language-button{
    padding-top: 1px;
    padding-bottom: 1px;
    padding-left: 1px;
    padding-right: 1px;
    width: 160px;
    height: 60px;
    border-color: rgb(200,200,200);
    border-radius: 4px;
    background-color: var(--primary-color);
}

.language-title{
    color: var(--button-color);
    text-align: left;
    padding-left: 10px;
}

.language{
    margin-right: 65px;
    width: 100px;
    margin-left: 7px;
}

.italy-icon{
    width: 15px;
    height: 10px;
}

.mid-footer-location{
    margin-top: 20px;
    margin-left: 180px;
}

.mid-footer-small-links{
    display: flex;
}

.mid-footer-small-links a{
    text-decoration: none;
    color: var(--secondary-color);
}

.inferior-footer{
    display: flex;
    margin-bottom: 3rem;
    margin-top: 1.5rem;
}

.trust svg{
    width: 191px;
    height: 57px;
}

.inf-footer-title{
    text-decoration: none;
    color: var(--secondary-color);
    font-size: 16px;
    margin-left: 330px;
    line-height: 1.8;
}

.trust-div{
    margin-top: 20px;
    width: 573px;
    display: flex;
    justify-content: flex-end;
    align-items: flex-end;
}
 
.language-button:active >.arrow2 > svg{
    transform: rotate(3.142rad);
}

.country-button:active > .arrow > svg {
    transform: rotate(3.142rad);
}

.language-button:hover{
    transform: scale(1.05);
    font-size: 13px ;
}

.country-button:hover{
    transform: scale(1.05);
    font-size: 13px ;
}














